h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: rgb(0, 74, 173);
}

a:hover {
  color: rgb(0, 74, 173);
}

.title {
  text-transform: uppercase;
}

.subtitle {
  color: #888;
  font-weight: 400;
}

.subtitle ~p {
  text-align: justify; 
}

.block {
  margin-bottom: 50px;
}

.button {
  font-weight: 500;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.button-primary {
  background-color: rgb(0, 74, 173);
  border-color: rgb(0, 74, 173);
}

.button-primary:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}

.button-primary-outline {
  border-color: var(--primary);
  color: var(--primary);
}

.button-primary-outline:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}